#background-video{                              /*fount this online but its not quite working the way i want it to, so I'll experiment more with it next time. I want it to only cover the header and navigation*/
    width: 100vw;
    height: 500px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.65;
}

.header-bg {
    position: relative;
    top: 20px;
    width: 100%;
    height: 500px;
    z-index: 2;
    top: 150px;
    text-align: center;
}

h1 {
    color: rgba(0, 0, 0, 0.89);
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    background-color: none;
    background-clip: url(../images/chocolate-cake.mp4);  /*this didnt work, I dont know how to make it work yet*/
    background-size: cover;
    background-attachment: fixed;

}

.allergies-ul{
    display:flex;
    justify-content: center;
}

nav {
    color: rgb(104, 15, 15);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background-color:  none; 
}

img{
    border-width: 3px;
    border-style: solid;
    border-color: rgba(50, 35, 35, 0.144);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(184, 157, 157, 0.753);
    width: 300px;
}

#first-paragraph{
    font-weight: bold;
    color: rgb(74, 39, 39);
}


body{
    background-color: #a16868;
    text-align: center;
}

h2{
    color:rgb(104, 15, 15);
}


/*next i want to align the images in a nice way*/